.content {
	text-align:center;
}
body {
	margin-top:50px;
}
form {
	margin: 0 auto;
	text-align: center;
}

img {
	display: block;
	margin: auto;
}

.white {
	color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;
}
